@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
html
{
scroll-behavior: smooth;
}
body
{
  min-height: 1000px;
  background: #49cc68;
}

header
{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 100px;
  z-index: 1000;
  transition: 0.6s;
}
header.sticky
{
padding: 20px 100px;
background: #fff;
border-bottom: 1px solid (0,0,0,.1);
}

#logo-a-size
{
  translate: 0 -20px;
  position: absolute;
  width: 150px;
}

#logo-b-size
{
  translate: 0 -20px;
  position: absolute;
  width: 150px;
  opacity: 0;
}

.logoa
{
opacity: 0;
}

.logob
{
opacity: 1!important;
}

.cls-1
{
  fill:#fff;
}

.cls-3{
  fill:#353535;
}

.cls-4{
  fill:#49cc68;
}

header .logo
{
  position: relative;
  font-weight: 700px;
  color: #fff;
  text-decoration: none;
  font-size: 2em;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: 0.6s;
}

header ul
{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
header ul li
{
  position: relative;
  list-style: none;
}

header ul li a
{
  position: relative;
  margin: 0 15px;
  text-decoration: none;
  color: #fff;
  letter-spacing: 2px;
  font-weight: 300;
  transition: 0.6s;
}
header.sticky .logo,
header.sticky ul li a
{
  color: #232323;
}

.header-logo
{
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.header-logo img
{
  position: absolute;
}

.img-pos
{
  position: absolute;
}

.mark-quad
{
  width: 200px;
  height: 10px;
  background-color: #49cc68;
  margin-bottom: 80px;
}

.mark-quad-w
{
  width: 200px;
  height: 10px;
  background-color: #fff;
  margin-bottom: 80px;
}

.mark-quad-w-2
{
  width: 200px;
  height: 5px;
  background-color: #fff;
  margin-bottom: 25px;
}

.banner
{
  position: relative;
  min-height: 920px;
  height: 61rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner {
  background-image: url(../img/background/background_dev.jpg);
}

.banner h2
{
  color: #49cc68;
  font-size: 90px;
  text-transform: uppercase;
  text-align: center;
  line-height: 1em;
  background-color: #232323;
  padding: 20px;
}
.banner h2 span
{
  color: #49cc68;
}

.banner span:before {
	content: '';
	text-transform: uppercase;
	font-family: Poppins;
	color: #fff;
	animation: word-switch 6s infinite;
}

@keyframes word-switch {
	0% { content: 'INCRÍVEL' }

	50% { content: 'INSPIRADO' }

	100% { content: '1618' }
}

.sec
{
  background: #fff;
  padding: 100px;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sec .content
{
  position: relative;
  text-align: center;
  width: 100%;
}

.sec .content_project
{
  position: relative;
  text-align: center;
  width: 80%;
}

.mxw800p
{
  max-width: 800px;
  margin: 0 auto;
}

.mxw800p h3
{
  margin-bottom: 20px;
}

.content-title
{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-container
{
  display: flex;
  width: 80%;
  flex-direction: row;
  align-items: center;
}
.about-container-l, .about-container-r
{
  width: 50%;
}

.about-container-r p
{
  text-align: left;
  margin-left: 25px;
  font-size: inherit;
  margin-bottom: 0px;
}

.photo-container {
  position: relative;
  width: 100%;
  height: 40vh;
  background: url(../img/assets/logo_1618_c.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: #fff;
}

.clip {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all 0.5s;
}

.clip1 {
  background: url(../img/1.jpg);
  background-size: cover;
  background-position: center;
  clip-path: polygon(0 0, 17% 0, 49% 100%, 0% 100%);
}

.clip2 {
  background: url(../img/2.jpg);
  background-size: cover;
  background-position: center;
  clip-path: polygon(13% 0, 81% 0, 59% 100%, 36% 100%);
}

.clip3 {
  background: url(../img/3.jpg);
  background-size: cover;
  background-position: center;
  clip-path: polygon(79% 0, 100% 0, 100% 100%, 59% 100%);
}

.photo-container:hover .clip {
  clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
}

.photo-container .clip:hover {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.photo-about-content
{
  display: flex;
  flex-direction: column;
  align-items: center;
}

h3
{
  font-size: 40px;
  font-weight: 200;
}
p
{
  position: relative;
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 20px;
  letter-spacing: 1px;
}
.btn
{
position: relative;
display: inline-block;
padding: 10px 30px;
background: #232323;
text-decoration: none;
color: #fff;
}

.services
{
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 30px;
  max-width: 100%;
  margin-top: 40px;
}
.services .box
{
  width: 300px;
  margin: 0 auto;
  background: #fff;
  padding: 20px;
  box-shadow: 0 15px 30px rgba(0,0,0,0.15);
}
.services .box .iconBx
{
  margin-top: 25px;
}
.services .box .iconBx img
{
  max-width: 70px;
  margin-bottom: 15px;
}
.services .box h2
{
  font-size: 18px;
  margin-bottom: 10px;
  text-transform: uppercase;
  font-weight: 700;
}
.stats
{
  background: #49cc68;
  padding-top: 250px;
  margin-top: -250px;
}
.stats h3,
.stats p
{
color: #fff;
}
.statsBox
{
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 20px;
  max-width: 100%;
  margin-top: 40px;
}
.statsBox h2{
  color: #fff;
  font-size: 36px;
}
.statsBox h4
{
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.stats-container
{
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.stats-container p
{
  margin-bottom: 50px;
}

.stats-container-logo
{
  background-color: #fff;
  padding: 50px;
  margin-bottom: 50px;
}

.stats-container-logo img
{
  width: 25vw;
}

.stats-container-img {
  width: 100%;
}

.stats-container-img img {
  width: 100%;
  object-fit: cover;
  height: 250px;
  margin: 50px 0 50px 0;
}

.workBx
{
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 30px;
  max-width: 100%;
  margin-top: 40px;
}

.workBx .brand
{
  position: relative;
  background: #4978ff;
  min-height: 300px;
  width: 250px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.workBx .brand:hover {
  background: #49cc68;
}

.workBx .brand a
{
  text-decoration: none;
  color: rgba(255, 255, 255, 0.4);
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 2px;
}

.workBx .brand:hover a
{
  color: rgba(255, 255, 255, 1);
}

.teamBx
{
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 30px;
  max-width: 100%;
  margin-top: 150px;
}

.teamBx .card {
  position: relative;
  width: 26.5vw;
  height: 33vh;
  display: flex;
  align-items: center;
  background: #49cc68;
}

.teamBx img {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 21vw;
  transition: 0.5s;
}

.teamBx .card:hover img {
  height: 21vw;
  left: 80%;
}

.teamBx .content {
    height: inherit;
    padding: 20px;
    text-align: left;
    position: relative;
    width: 50%;
    left: 20%;
    color: #232323;
    text-transform: capitalize;
    transition: 0.5s;
    opacity: 0;
}

.teamBx .card:hover .content {
  padding: 20px;
  height: inherit;
  display: flex;
  left: 3%;
  opacity: 1;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.teamBx h2 {
  margin: 0;
  padding: 0;
}

.teamBx p {
  font-size: 13px;
  text-transform: none;
}

.teamBx a {
  position: relative;
  display: inline-block;
  color: #232323;
  padding: 5px 10px;
  background: white;
  text-decoration: none;
  border-radius: 10px;
}

.contact {
  background: #49cc68;
}

.contact h3,
.contact p
{
  color: #fff;
}

.contactForm 
{
  position: relative;
  max-width: 800px;
  margin: 0 auto;
  display: flex;
}

.contactForm form
{
  width: 100%;
}

.contactForm .row100
{
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.contactForm .row100 .inputBx50
{
 width: 50%;
 margin: 0 20px; 
}

.contactForm .row100 .inputBx100
{
  width: 100%;
  margin: 0 20px;
}

.contactForm .row100 input,
.contactForm .row100 textarea
{
  position: relative;
  border: none;
  border-bottom: 1px solid #fff;
  color: #fff;
  background: transparent;
  width: 100%;
  padding: 10px 0;
  outline: none;
  font-size: 18px;
  font-weight: 300;
  resize: none;
}

.contactForm .row100 textarea
{
  height: 100px;
}

.contactForm .row100 input::placeholder,
.contactForm .row100 textarea::placeholder
{
  color: rgba(0,0,0,0.5);
}

.contactForm .row100 input[type="submit"]
{
  background: #fff;
  color: #232323;
  max-width: 100px;
  margin: 25px 0;
  text-transform: uppercase;
  letter-spacing: 2px;
  cursor: pointer;
  font-weight: 500;
}

.sci
{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px 0;
}
.sci ul
{
  display: flex;
}
.sci ul li
{
  list-style: none;
}
.sci ul li a
{
  text-decoration: none;
  display: inline-block;
  margin: 0 30px;
}
.sci ul li a img
{
  filter: invert(1);
  max-width: 40px;
}
.sci ul li a:hover img
{
  filter: invert(1);
  opacity: 0.5;
}
.copyright a
{
  color: #fff;
}
.toggle
{
  display: none;
}

.main {
  position: relative;
  width: 800px;
}

.how-work{
  text-align: left;
  display: flex;
  width: 100%;
  align-items: center;
}

.how-work .how-work-r p {
  margin: 0;
}

.how-work .how-work-l img {
  width: 100%;
  object-fit: cover;
  height: 250px;
}
.how-work-l{
  padding: 25px;
  width: 50%;
}
.how-work-r{
  padding: 25px;
  width: 50%;
}

@media (max-width: 1700px)
{
  .teamBx .content 
  {
    width: 70%;
  }
}

@media (max-width: 1200px)
{
  .banner
  {
    background-position: center;
  }
  .banner h2
  {
    font-size: 60px;
    padding: 0 50px;
  }
  .sec
  {
    padding: 100px 50px 50px 50px;
  }
  .services .box
  {
    width: 100%;
  }
  .stats
  {
    padding-top: 250px;
  }
  .row100
  {
    flex-direction: column;
  }
  .contactForm .row100 .inputBx50,
  .contactForm .row100 .inputBx100
  {
    width: 100%;
    margin: 0;
  }
  .sci {
    margin: 20px;
  }
  .sci ul li a img
  {
    font-size: 24px;
  }
  .teamBx
  {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .teamBx .card 
  {
    width: 75vw;
    margin-top: 105px;
  }
  .teamBx img 
  {
    height: 35vw;
  }
  .teamBx .card:hover img 
  {
    height: 40vw;
  }
  @media (max-width: 992px)
{
  .toggle
    {
      display: block;
      position: relative;
      width: 30px;
      height: 30px;
      cursor: pointer;
    }
  .toggle:before
  {
    content: '';
    position: absolute;
    top: 4px;
    width: 100%;
    height: 2px;
    background: #232323;
    z-index: 1;
    box-shadow: 0 10px 0 #232323;
    transition: 0.5s;
  }
  .toggle:after
  {
    content: '';
    position: absolute;
    bottom: 4px;
    width: 100%;
    height: 2px;
    background: #232323;
    z-index: 1;
    transition: 0.5s;
  }
  header,
  header.sticky
  {
    padding: 5px 50px;
    background: #fff;
  }
  header ul
  {
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    height: 100vh;
    text-align: center;
    overflow: auto;
    background: #fff;
    visibility: hidden;
    opacity: 0;
  }
  header.active ul
  {
    visibility: visible;
    opacity: 1;
    display: block;
    padding-top: 20px;
    margin-top: -20px;
  }
  header.active ul li a
  {
    display: inline-block;
    margin: 10px 0;
    font-size: 20px;
  }
  header .logo,
  header ul li a
  {
    color: #232323;
  }
  .about-container-l, .about-container-r 
  {
    width: 100%;
  }
  .about-container {
    display: flex;
    width: 80%;
    flex-direction: column;
    align-items: center;
  }
  .about-container-r p {
    margin-top: 20px;
    text-align: center;
  }
  .header-logo 
  {
    visibility: hidden;
  }
  .how-work-r {
    text-align: center;
    width: 100%;
  }
  .how-work {
    text-align: left;
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: column;
  }
  .sec .content_project {
    position: relative;
    text-align: center;
    width: 100%;
  }
  .how-work .how-work-l img {
    width: 100%;
    object-fit: cover;
    height: 250px;
    margin: 50px 0 50px 0;
  }
  .how-work-l {
    width: 100%;
}
}
}